<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div id="navbar-container">
      <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </div>
    <div id="about-container">
      <h1>About Us</h1>
      <p>We are a group of people who love Bart Simpson.</p>
      <p>He is the ultimate badboy.</p>
      <p>
        He is a prankster, a skateboarder, an underachiever, and a bad student.
      </p>
      <p>
        He sucks at school, is mean to his sister Lisa, loves his parents
        though, and is the ultimate skateboarder.
      </p>
      <p>He is the best!</p>
      <img src="/images/about_bart.png" alt="Bart Simpson" />
    </div>
    <hr />
    <div id="team-containers">
      <h2>Our team</h2>
      <img src="/images/burns.png" alt="" />
      <p>
        PS: Actually it's just Montgomery Burns who created this website,
        shut!!!
      </p>
    </div>
  </body>
</html>
