<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div id="navbar-container">
      <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </div>
    <div id="hero-section">
      <h1>Bart is the ulimate badboy</h1>
      <img src="/images/bart.png" alt="Bart Simpson" />
    </div>
    <div id="landing-container">
      <div id="personality-container">
        <h2 class="title">Bart Simpson</h2>
        <ul>
          <li>Prankster</li>
          <li>Skateboarder</li>
          <li>Underachiever</li>
          <li>Bad student</li>
        </ul>
      </div>
      <div id="achievements-container">
        <h2>Life achievements</h2>
        <ul>
          <li>Sucks at school</li>
          <li>Mean to his sister Lisa</li>
          <li>Loves his parents though</li>
          <li>The utimate skateboader</li>
        </ul>
      </div>
    </div>
  </body>
</html>
