<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <ul id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
    </ul>
    <div id="works-container">
      <h1>Bart Life's Work</h1>
      <ul>
        <li>Managed to repeat every single class</li>
        <li>Pull every possible prank in the book on the school principle</li>
        <li>Got his dad to buy him a skateboard</li>
        <li>Got his friend Milhouse to do his homework</li>
        <li>Managed to find a way into our hearts ❤️</li>
      </ul>
      <img src="/images/love_bart.png" alt="Bart Simpson" />
    </div>
  </body>
</html>
